


/*

    CSS does not allow override of media queries.

*/



@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    body {
        max-width: 1024px;
        margin: 0 auto;
    }

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 58%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 37%;
    }

    .main aside {
        float: right;
        width: 48%;
    }
    
    
    
}



/* Less Orange, please  */

body {
    background: #F3F0DA;
}
nav a {
    background: #E99F46;
}
.header-container {
    border-bottom: 5px solid #400202;
}

.footer-container,
.main aside {
    border-top: 5px solid #400202;
    border-bottom: 5px solid #400202;
}

.header-container,
.footer-container,
.main aside {
    background: #CB842E;
}

/* Custom Google font  */

body, .ui-widget {
	font-family: 'Open Sans', sans-serif;
}



